 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(
    270deg,
    rgba(202, 42, 42, 0.904),
    rgba(22, 22, 189, 0.712)
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  min-height: 386px;
  width: 350px;
  background: rgba(0, 255, 255, 0.089);
  box-shadow: 0 0 12px 4px white;
  border-radius: 20px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background-color: rgba(0, 140, 255, 0.096);
  min-height: 332px;
}
label {
  display: block;
  font-size: large;
}
#input {
  padding: 8px;
  font-size: 18px;
}
input:focus {
  border: aqua;
}
select {
  height: 55px;
  width: 194px;
  font-size: 18px;
  font-weight: bold;
}
#submit {
  /* padding: 0px 147px 17px 15px; */
  height: 67px;
  width: 144px;
  font-size: 25px;
  transition: all 200ms;
  border-radius: 30px;
}
#submit:hover {
  background-color: rgba(59, 138, 138, 0.336);
}
span {
  font-size: 30px;
  font-weight: bolder;
}
